<!DOCTYPE html>
<html ng-app="iotGarden">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="IOT Garden webapp">
    <meta name="author" content="@shenrgc">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>IOT Garden</title>
  </head>
  <body>
    <h1>ERROR</h1>
  </body>
</html>
